{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
{{/*
      <h1 class="error-emoji"></h1>
      <p class="error-text">{{ i18n "pageNotFound" }}</p>
 */}}
      <img src="/img/404i.png">
      <p class="error-text">This page doesn't exist: try the 
         <a href="/#overview-of-this-companion-website">homepage</a>.</p>
    </div>
  </div>

{{/*
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>
 */}}
{{ end }}
